# Clerk
# Clerk publishable key (required)
VITE_CLERK_PUBLISHABLE_KEY=
# Clerk secret key (required for TanStack Start server auth)
CLERK_SECRET_KEY=
# Clerk Frontend API URL used by Convex to validate Clerk JWTs
CLERK_JWT_ISSUER_DOMAIN=

# Convex
# Convex deployment name
CONVEX_DEPLOYMENT=
# Convex deployment URL (required)
VITE_CONVEX_URL=
